.stories{
    height: 112px;
    margin: 2px 0;
    position: relative;
    overflow: hidden;
    border-top: var(--border);
    border-bottom: var(--border);
}

.storiesWrapper{
    width: max-content;
    padding: 0 var(--padding-container-default);
    height: 100%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
}

.leftIcon, .rightIcon{
    cursor: pointer;
    position: absolute;
    font-size: 1.5rem;
    border-radius: 50%;
    color: gray;
    padding: 2px;
    background-color: inherit;
}
.leftIcon{
    left: 12px;
}
.rightIcon{
    right: 12px;
}