.inbox{
    font-size: .9rem;
    background-color: var(--white);
    height: calc(100vh - 54px);
}
.inboxWrapper{
    height: 100%;
    display: flex;
}

.inboxLeft{
    height: 100%;
    width: 700px;
    border-right: var(--border);
    overflow-y: scroll;
}


.inboxLeftHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--border);
    position: relative;
    padding: var(--padding-container-default);
}
.inboxLeftUser{
    display: inherit;
    align-items: inherit;
    cursor: pointer;
}
.inboxLeftUsername{

}
.inboxLeftUsernameIcon{
    font-size: 2rem;
}
.inboxLeftNewMessageIcon{
    position: absolute;
    right: var(--padding-container-default);
}


.inboxLeftWrapper{
    padding: var(--padding-container-default);
}
.inboxHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}
.inboxHeaderText{
}
.inboxHeaderMsgReq{
    font-size: .75rem;
    color: blue !important;
}


.inboxMsgWrapper{
    padding: 8px var(--padding-container-default);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
}
.inboxMsgWrapper:hover{
    background-color: var(--main-color-light);
}
.inboxMsgWrapper.focus{
    background-color: #fbfbfb;
}
.inboxMsgProfilePic{
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
}

.inboxMsgTextWrapper{
    display: flex;
    flex-direction: column;
}
.inboxMsgUsername{

}
.inboxMsgDesc{
    color: gray;
    font-size: .75rem;
}
.inboxMsgTimeAgo{
    position: absolute;
    right: var(--padding-container-default);
    color: gray;
    font-size: .75rem;
}





.inboxRight{
    width: 100%;
}
.inboxRightLandingWrapper{
    display: grid;
    place-items: center;
    height: 100%;
}
.inboxRightLanding{
    display: grid;
    place-items: center;
    gap: 12px;
    text-align: center;
}
.inboxRightLandingPlaneIcon{
    width: 86px;
    height: 86px;
    font-size: 4rem;
    outline: 4px solid black;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.inboxRightLandingHeaderText{
    font-size: 1.5rem;
}
.inboxRightLandingText{
    color: gray;
}
.inboxRightLandingBtn{
    border: none;
    padding: 8px;
    color: var(--white);
    background-color: rgb(108, 108, 255);
    border-radius: 6px;
}