.profile{
    font-size: .85rem;
}
.profileTopWrapper{
}
.profileTopUser{
    padding: var(--padding-container-default);
    display: flex;
    align-items: center;
    gap: 24px;
}
.profileTopProfilePic{
    width: 78px;
    height: 78px;
    border-radius: 50%;
    outline: 1px solid rgb(230, 230, 230);
    outline-offset: 4px;
}

.profileTopUserSideWrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.profileTopUserNameWrapper{
    display: flex;
    align-items: center;
    gap: 8px;
}
.profileTopUsername{
    font-size: 1.5rem;
    font-weight: 300;
}
.profileTopSettingsIcon{

}
.profileTopEditBtn{
    width: 100%;
    border: 1px solid rgb(226, 226, 226);
    padding: 8px;
    background: none;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px
}



.profileTopInfoWrapper{
    padding: var(--padding-container-default);
}
.profileTopInfoName{
    display: flex;
    gap: 8px;
}
.profileTopInfoDisplayName{
    font-weight: 500;
}
.profileTopInfoPronouns{
    color: gray;
}
.profileTopInfoBio{

}
.profileTopWebsite{
    font-weight: 500;
}


.profileTopInfoDataNumbersWrapper{
    border-top: var(--border);
    border-bottom: var(--border);
    padding: 8px;
    display: flex;
    justify-content: space-around;
}
.profileTopInfoDataNumbersPostsWrapper, .profileTopInfoDataNumbersFollowersWrapper, .profileTopInfoDataNumbersFollowingWrapper{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
}
.profileTopInfoDataNumbersNum{
    font-weight: 500;
}
.profileTopInfoDataNumbersLabel{
    color: gray;
    font-size: .9rem;
}



.profileTopSectionBtnsWrapper{

}
.profileTopSectionBtns{
    display: flex;
    justify-content: space-around;
    color: gray;
}
.profileTopSectionBtn{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px;
}



.profileUploadedContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3px;
}