.post{
    width: 100%;
    margin: 18px 0;
    font-size: .85em;
}
.postWrapper{
    background-color: var(--white);
    padding: 18px 0;
}

.postHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--padding-container-default) var(--padding-container-default) var(--padding-container-default);
}
.postUser{
    display: inherit;
    align-items: inherit;
    gap: 10px;
}
.postUserProfilePic{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.postUserText{
    display: flex;
    flex-direction: column;
}
.postUsername{
    cursor: pointer;
    font-weight: 500;
}
.postLocation{
    font-size: .75rem;
}
.postUsername:hover{
    text-decoration: underline;
}
.postLocation{
    cursor: pointer;
}
.postMore{
    font-size: 1.5rem;
    cursor: pointer;
}



.postMediaWrapper{
    display: flex;
    align-items: center;
}
.postMediaContainer{
    display: flex;
    overflow: hidden;
}
.postMedia{
    width: 100%;
    height: 100%;
    transition: transform .2;
}
.postMediaMultipleBtns{
    opacity: 0;
}
.postMediaMultipleBtns.multiple{
    opacity: 1;
}
.leftIcon, .rightIcon{
    background-color: var(--white);
}


.postBtnsWrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 var(--padding-container-default);
    color: rgb(73, 73, 73);
    margin-top: 10px;
}
.postBtnsLeft{
    display: flex;
    gap: 12px;
}
.postBtnLeft{
    font-size: 1.75rem;
}
.postBtnRight{
    font-size: 1.75rem;
}



.postInfoWrapper{
    padding: 0 var(--padding-container-default);
}
.postInfoLikesWrapper{
    margin: 10px 0;
}
.postInfoLikes{
    font-weight: 500;
    cursor: pointer;
}


.postInfoCaptionWrapper{
    flex-wrap: break-word;
}
.postInfoCaptionUsername{
    font-weight: 500;
    cursor: pointer;
}
.postInfoCaptionUsername:hover{
    text-decoration: underline;
}


.postInfoCommentWrapper{
    margin: 8px 0;
}
.postInfoComment{
    color: gray;
    cursor: pointer;
}


.postInfoDateWrapper{

}
.postInfoDate{
    text-transform: uppercase;
    font-size: .65rem;
    color: gray;
}