.uploadedContainer{
    height: calc(100vw / 3);
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.uploadedDataWrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.uploadedData{
    display: flex;
    align-items: center;
    gap: 4px;
}
.uploadedDataNum{
    font-size: 1.1rem;
    font-weight: 500;
}

.uploadedContainerImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.uploadedContainerIconType{
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 2rem;
    color: #fff;
    opacity: 0.9;
}
.bxs-square-rounded{
    font-size: 1.5rem;
}